# OS
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo

# Vercel
.vercel/

# Logs
*.log
npm-debug.log*

# Dependencies (caso evoluamos pra build pipeline)
node_modules/

# Build outputs
dist/
build/
.next/
